@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "DM sans" ,sans-serif ;
}
body{
  background-color: #0a0a21 ;
  color : #d8d8dc ;
}
a{
  text-decoration: none ;
  color : inherit ; 
}
.hero{
  height: calc(100vh - 80px) ;
}

.mountains {
  background-image: url('./assets/mountains.png');
}
.planets {
  background-image: url('./assets/planets.png');
}
.stars {
  background-image: url('./assets/stars.png');
}
